.profile_wrapper {
  width: 375px;
  height: 667px;
  background-color: #b8ebb8;
}

.profile-button {
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 8rem;
  font-size: 1.25rem;
  position: relative;
  top: 20rem;
}

#profile_username {
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  position: relative;
  top: 17.5rem;
}

#profile_username-edit {
  font-size: 1rem;
  position: relative;
  top: 17.5rem;
  left: 46.5%;
}

#profile-notifications_title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  position: relative;
  top: 6rem;
}

/* Notifications tag */
.notifications_tag {
  position: absolute;
  font-weight: 600;
  left: 2rem;
}

.notifications_tag.push {
  top: 11rem;
}

.notifications_tag.text {
  top: 21rem;
}

.notifications_tag.email {
  top: 31rem;
}

/* Notifications group */
.notifications_group {
  position: absolute;
  left: 2rem;
}

.notifications_group.push {
  top: 12.5rem;
}

.notifications_group.text {
  top: 22.5rem;
}

.notifications_group.email {
  top: 32.5rem;
}

/* Notifications toggle */
.notifications_toggle {
  position: absolute;
  width: 2rem;
  right: 3rem;
}

.notifications_toggle.push {
  top: 12rem;
}

.notifications_toggle.text {
  top: 22rem;
}

.notifications_toggle.email {
  top: 32rem;
}

/* Bootstrap button overriden classes */
.btn-success,
.btn-light {
  border-radius: 5rem;
}

.switch-handle {
  left: -0.75rem;
}
