#logo_container {
  height: 250px;
  width: 250px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}

#logo_img {
  height: 100%;
  width: 100%;
}

#logo_img.md {
  height: 50%;
  width: 50%;
  position: absolute;
  top: 25rem;
  left: 25%;
}
