@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

::root {
  --primary: #b8ebb8;
  --secondary: #ffffff;
  --tertiary: #84d384;
  --overlay: #000000;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
