@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

::root {
  --primary: #b8ebb8;
  --secondary: #ffffff;
  --tertiary: #84d384;
  --overlay: #000000;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  positoin: relative;
}

.centered-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
